/* 共通 */
body {
    font-family: "Noto Sans Japaneze",
    -apple-system,
    "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium",
    "游ゴシック Medium",
    YuGothic,
    "游ゴシック体",
    "メイリオ",
    sans-serif;
}

.bg-info {
    background-color: #D1DBBD !important;
    filter:brightness(110%);
}
.bg-secondary {
    background-color: #FCFFF5 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    background-color: #91AA9D !important;
    border-color: #91AA9D;
    filter:brightness(105%);
    box-shadow: none;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus
 {
    background-color: #3E606F !important;
    border-color: #3E606F;
    filter:brightness(110%);
    box-shadow: none;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    background-color: #193441 !important;
    border-color: #193441;
    filter:brightness(150%);
    box-shadow: none;
}

/* トップページ */
.main-content {
    background-image: url("../img/main-image.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;  /*背景画像がスクロールしない指定 */
    width: 100%;
    min-height: 100vh;
    text-shadow: 2px 2px 3px black;
}

/* ヘッダー(layouts.header) */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

a.nav-link {
    color: white;
    padding: 0;
}

button {
    margin-right: 7px;
}

/* ショップ一覧(shops.index) */
.shop-card {
    border: 1px solid #000;
    border-radius: 8px;
    height: 265px;
}

.img {
    width:100%;
    height:150px;
}


/* ショップ詳細(shops.show) */
.shop-img {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    width: 100%;
    height: 250px;
}

dt, dd {
    display: inline-block;
    margin-bottom: 0;
}

.shop-des {
    border: 1px solid lightgray;
}
